footer {
  margin: 2em 0;
  color: $white;
  a {
    color: $white;

    &:active,
    &:focus,
    &:hover {
      color: darken($white, 15%);
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
  .contact-me {
    li {
      display: inline-block;
      margin: 0 .5em;
    }
    float: right;

  }
}