body {
  margin: 0;
}

#main {
  background-color: $white;
}

#header {
  background-color: $header-background;
  > div {
    @include background-image(url("/images/header.png"));
    background-repeat: no-repeat, no-repeat;
  }
}

#footer {
  background-color: $dark-blue;
  @include background-image(url("/images/footer.png"));
}

#main, #footer, #header {
  div {
    @include outer-container;
    @include pad(1em);
  }
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}

.medium-column {
  @include span-columns(6 of 12);
}

.article_title {
  color: $blue;
  font-size: 1.2em;
}
