body {
  background-color: $medium-gray;
}

#main {
  @include outer-container;
  @include pad(10px);
  background-color: $white;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

.large-column {
  @include span-columns(9 of 12);
}

.small-column {
  @include span-columns(3 of 12);
}
