nav {
  margin: em(30) 0;
  ul {
    li {
      display: inline-block;
    }
    float: right;
    margin-bottom: em(10);
  }
  a {
    color: $white;

    &:active,
    &:focus,
    &:hover {
      color: darken($white, 15%);
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.blog-title {
  font-size: 1.5em;
  font-weight: 700;
  letterspacing: 4px;
  color: $white;
}

