nav {
  border-bottom: 1px solid $base-border-color;
  margin: em(30) 0;
  ul {
    li {
      display: inline-block;
    }
    float: right;
    margin-bottom: em(10);
  }
}

.blog-title {
  font-size: 1.2em;
  font-weight: 700;
  letterspacing: 4px;
  color: $dark-blue;
}

