<header>
  <nav>
    <ul>
      <li>
        <%= link_to "about me", "about.html" %>
      </li>
    </ul>
  <h1>
    <%= link_to "netosober's blog", "index.html", :class => 'blog-title' %>
  </h1>
  </nav>
</header>